<div>
  <p>お問い合わせ内容を確認の上、メールにてご回答いたしますので今しばらくお待ちください。</p>
  <p>なお、返信に2〜3営業日ほどお時間をいただく場合がございます。</p>
</div>
<div>

<p>=======================================</p>
  <p>■ お問合せ内容</p>
  <p><%= @contact.message %></p>
<p>=======================================</p>