.forget_password {
  .mail_cation {
    color: rgb(196, 0, 0);
    font-size: 0.875rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    width: 80%;
    max-width: 100%;
  }
}