<p>下記をクリックするとパスワードの再設定が行えますので<br>
表示されたフォームにて変更をしてください。</p>

<%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token),
  style: '
    color: #ffff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    background: #3c64ff;
    padding: 10px 50px;
    display: inline-block;
    margin-top: 20px;
  ' %>
<p>※ このURLの有効期限は6時間です。